@import "reset.css";
@import "icons.css";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Outfit;
  background: #111111;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1234px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1057px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
.header {
  z-index: 150;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
}
.header__container {
  display: flex;
  min-height: 120px;
  align-items: center;
  justify-content: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.logo {
  text-decoration: none;
  transition: all 0.2s linear;
}
.logo:hover {
  opacity: 0.7;
}
.logo__text {
  padding: 38px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.438rem;
  color: #fff;
  transition: all 0.2s linear;
}
.logo__text:hover {
  opacity: 0.7;
}
.logo__text-pink span {
  color: #FE18BE;
}

.search {
  margin: 0 auto;
  border-radius: 20px;
  background: #202020;
  padding: 8px 25px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: flex;
  border: 1px solid #202020;
}
.search a {
  padding: 0 2px;
  text-decoration: none;
  color: #FE18BE;
  opacity: 0.6;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search a:hover {
  opacity: 1;
}
.search__field {
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
  min-width: 250px;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search__field::placeholder {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search__field:focus::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search:focus-within {
  border: 1px solid rgba(254, 24, 190, 0.5);
  box-shadow: 0 0 1px 0 rgba(254, 24, 190, 0.5) inset, 0 0 1px 0 rgba(254, 24, 190, 0.5);
}

.social {
  display: flex;
}
.social__link {
  display: flex;
  text-decoration: none;
  color: #FE18BE;
  font-size: 1.375rem;
  padding: 6px;
  -webkit-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
.social__link-label {
  display: none;
}
.social__link span::before {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #FE18BE;
  box-shadow: 0 0 1px 0 #FE18BE inset, 0 0 1px 0 #FE18BE;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.social__link:hover {
  color: #000;
  transform: scale(1.3);
}
.social__link:hover span::before {
  background: #FE18BE;
}

.translate {
  display: flex;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.438rem;
  color: #fff;
}
.translate__switch {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s linear;
}
.translate__switch:active {
  color: #FE18BE;
}
.translate__switch:hover {
  color: #FE18BE;
}

.icon-menu {
  display: none;
}

.intro {
  min-height: 100vh;
  display: flex;
}
.intro__container {
  padding: 50px 15px 20px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro__flower img {
  width: 100%;
  height: 100%;
}
.intro__button {
  text-decoration: none;
  padding: 12px 52px;
  border-radius: 20px;
  background: #FE18BE;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.563rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: all 0.4s ease;
  box-shadow: 5px 5px 45px rgba(254, 24, 190, 0.5);
  position: relative;
}
.intro__button:hover {
  background: #cd219d;
  box-shadow: 5px 5px 45px rgba(254, 24, 190, 0.7);
}
.intro__button:hover::after {
  opacity: 1;
  transform: translate(0, 0);
}
.intro__button::after {
  content: "";
  bottom: -15px;
  left: 0;
  position: absolute;
  min-width: 100%;
  height: 3px;
  background: #cd219d;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 0.4s ease;
}
.intro__video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.artworks {
  color: #fff;
  position: relative;
  z-index: 1;
}
.artworks__container {
  padding: 100px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.artworks__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 0 50px 0;
}
.artworks__subtitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 10rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 140px;
  left: -80px;
}
.artworks__cards {
  display: flex;
  margin: 0 0 60px 0;
  align-items: stretch;
}
.artworks__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 324px;
  margin: 0 auto;
  max-width: 324px;
  position: relative;
  box-sizing: border-box;
  color: #FFF;
  background: #201F1F;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 20px;
}
.artworks__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
}
.artworks__button {
  display: flex;
  justify-content: center;
}
.artworks__decor-1 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 200px;
  right: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.artworks__decor-2 {
  position: absolute;
  background: rgba(24, 171, 254, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 682px;
  height: 719px;
  top: 0;
  left: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}

.card__collection-cover img {
  height: 338px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__collection-author-avatar {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 238px;
}
.card__collection-author-avatar img {
  height: 150px;
  width: 150px;
  border: 3px solid #201F1F;
  border-radius: 50%;
}
.card__collection-author-name {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.card__collection-author-username {
  display: flex;
  justify-content: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FE18BE;
  text-decoration: none;
  text-align: center;
  overflow-wrap: anywhere;
  padding: 5px 10px;
}
.card__collection-name {
  display: flex;
  justify-content: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 0 10px;
}
.card__artwork-info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__artwork-cover img {
  height: 338px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__artwork-author {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.card__artwork-author-info {
  display: flex;
  flex-direction: column;
}
.card__artwork-author-avatar {
  display: flex;
  justify-content: center;
  margin: 0 5px 0 0;
}
.card__artwork-author-avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.card__artwork-author-name {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.card__artwork-author-username {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FE18BE;
  text-decoration: none;
  overflow-wrap: anywhere;
}
.card__artwork-name {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 15px 0;
}
.card__artwork-buy-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__artwork-price {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
.card__artwork-price span {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
}
.card__button {
  margin: 16px 0;
  display: flex;
  justify-content: center;
}

.collections {
  color: #fff;
  position: relative;
  z-index: 10;
}
.collections__container {
  padding: 100px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.collections__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 0 50px 0;
}
.collections__subtitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 10rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 140px;
  left: -80px;
}
.collections__cards {
  display: flex;
  margin: 0 0 60px 0;
  align-items: stretch;
}
.collections__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 324px;
  margin: 0 auto;
  max-width: 324px;
  position: relative;
  box-sizing: border-box;
  color: #FFF;
  background: #201F1F;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 20px;
}
.collections__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
}
.collections__card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
  margin: -5px;
  border-radius: 20px;
  background: linear-gradient(122.02deg, rgba(255, 44, 223, 0.6) 36.31%, rgba(0, 102, 255, 0.6) 111.8%);
  transform-origin: right;
  transform: translate(0px, 0px) rotate(0deg);
  opacity: 0;
  transition: all 0.2s linear;
}
.collections__card:hover::after {
  opacity: 1;
  transform: translate(50px, 20px) rotate(3.02deg);
}
.collections__button {
  display: flex;
  justify-content: center;
}
.collections__decor-1 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 150px;
  left: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.collections__decor-2 {
  position: absolute;
  background: rgba(24, 171, 254, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 300px;
  right: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}

.button {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s linear;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}
.button__outline {
  border: 1px solid #FE18BE;
  border-radius: 10px;
  background: transparent;
  padding: 9px 45px;
  box-shadow: 0 0 1px 0 #FE18BE inset, 0 0 1px 0 #FE18BE;
}
.button__outline:hover {
  background: #FE18BE;
}

.about {
  color: #fff;
  position: relative;
  z-index: 4;
}
.about__container {
  padding: 100px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 0 50px 0;
}
.about__subtitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 10rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 140px;
  left: -80px;
}
.about__card {
  background: #121618;
  border-radius: 20px;
  padding: 42px 84px;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
}
.about__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  filter: blur(1px);
  border-radius: inherit;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
}
.about__card-avatars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}
.about__card-avatar {
  transition: all 0.3s ease 0s;
}
.about__card-avatar h1, .about__card-avatar h2, .about__card-avatar h3, .about__card-avatar h4 {
  text-align: center;
  margin: 10px 0;
}
.about__card-avatar h1 {
  font-size: 1.5rem;
  color: #FF2CDF;
}
.about__card-avatar h2 {
  font-size: 1.5rem;
  color: #FF2CDF;
}
.about__card-avatar h4 {
  font-size: 1.5rem;
  color: #FF2CDF;
}
.about__card-avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
}
.about__card-avatar:hover {
  transform: scale(1.4);
}
.about__card-text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.about__card-text p {
  margin: 20px 0;
}
.about__decor-1 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 150px;
  left: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.about__decor-2 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 500px;
  right: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}

.whitelist {
  color: #fff;
  position: relative;
  z-index: 1;
}
.whitelist__container {
  padding: 100px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.whitelist__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 0 50px 0;
}
.whitelist__subtitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 10rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 140px;
  left: -80px;
}
.whitelist__card {
  background: #121618;
  border-radius: 20px;
  padding: 42px 84px;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
}
.whitelist__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  filter: blur(1px);
  border-radius: inherit;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
}
.whitelist__card-text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.whitelist__card-text p {
  margin: 20px 0;
}
.whitelist__decor-1 {
  position: absolute;
  background: rgba(24, 171, 254, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 150px;
  left: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.whitelist__decor-2 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 500px;
  right: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}

.roadmap {
  color: #fff;
  position: relative;
  z-index: 1;
}
.roadmap__container {
  padding: 100px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.roadmap__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 0 50px 0;
}
.roadmap__subtitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 10rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 140px;
  left: -80px;
}
.roadmap__card {
  background: #121618;
  border-radius: 20px;
  padding: 42px 84px;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
}
.roadmap__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  filter: blur(1px);
  border-radius: inherit;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
}
.roadmap__card-text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.roadmap__card-text p {
  margin: 20px 0;
}
.roadmap__decor-1 {
  position: absolute;
  background: #192153;
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 150px;
  left: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.roadmap__decor-2 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 500px;
  right: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.roadmap__items {
  display: flex;
  flex-direction: column;
}
.roadmap__item {
  display: flex;
  margin: 0 0 20px 0;
}
.roadmap__item-number {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #FE18BE;
  margin-right: 38px;
}
.roadmap__item-text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin-right: 38px;
}
.roadmap__item-text p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration-line: inherit;
}
.roadmap__item-mark {
  margin-left: auto;
  font-size: 60px;
  line-height: 50px;
  position: relative;
  z-index: 2;
}
.roadmap__item-mark::before {
  content: "";
  top: -2px;
  left: -2px;
  width: 64px;
  height: 64px;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
  z-index: -1;
  position: absolute;
  border-radius: 50%;
}

.banner__container {
  padding: 150px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner__content {
  background: url(../img/banner-bg.png) no-repeat;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 50px 60px 50px 60px;
  position: relative;
}
.banner__text {
  flex: 1 0 60%;
  max-width: 530px;
  color: #fff;
}
.banner__title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
}
.banner__subtitle {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 26px;
}
.banner__input {
  display: flex;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  max-width: 264px;
}
.banner__input input {
  color: inherit;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
  background: transparent;
  outline: none;
  padding: 2px 10px;
}
.banner__input input::placeholder {
  color: inherit;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
}
.banner__input button {
  border: none;
  padding: 5px 22px;
  color: inherit;
  background: #FE18BE;
  border-radius: 5px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  transition: all 0.2s ease;
  cursor: pointer;
}
.banner__input button:hover {
  background: #cd219d;
}
.banner__image {
  flex: 1 0 40%;
  position: absolute;
  right: 60px;
  bottom: 0px;
}

.partners {
  color: #fff;
  position: relative;
  z-index: 1;
}
.partners__container {
  padding: 100px 15px 300px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.partners__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 0 50px 0;
}
.partners__subtitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 10rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 140px;
  left: -80px;
}
.partners__card {
  margin: 36px;
  background: #121618;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
  min-width: 100%;
  min-height: 314px;
}
.partners__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  filter: blur(1px);
  border-radius: inherit;
  background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%);
}
.partners__card-logo {
  display: flex;
  justify-content: center;
}
.partners__card-logo img {
  height: 200px;
  width: 200px;
}
.partners__card-name {
  display: flex;
  justify-content: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
.partners__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners__decor-1 {
  position: absolute;
  background: rgba(24, 171, 254, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 150px;
  left: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}
.partners__decor-2 {
  position: absolute;
  background: rgba(254, 24, 190, 0.2);
  filter: blur(200px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 500px;
  right: 0;
  z-index: -4;
  transform: translate3d(0, 0, 0);
}

.footer {
  width: 100%;
  background: #000000;
  position: relative;
}
.footer__waves {
  z-index: -5;
  right: 0;
  left: 0;
  bottom: 100%;
  min-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: absolute;
}
.footer__container {
  z-index: 100;
  display: flex;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__copyright {
  color: #ffffff;
}
.text-crossed {
  text-decoration-line: line-through;
}

.mark-inactive {
  color: #35393A;
}
.mark-active {
  color: #FE18BE;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin: 0 30px;
}
.menu__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.2s ease 0s;
}
.menu__link:hover {
  opacity: 0.5;
}

@media (max-width: 1057px) {
  .search__field {
    min-width: 190px;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 80px;
    overflow: hidden;
  }
  .header__container {
    min-height: 80px;
  }
}
@media (max-width: 991.98px) {
  .icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }
  .icon-menu::after, .icon-menu::before {
    content: "";
    background: #FE18BE;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background: #FE18BE;
  }
  .header__socials {
    margin: 0;
    flex-direction: column;
  }
  .social__link {
    align-items: center;
    position: relative;
    margin: 15px 0;
  }
  .social__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -15px;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .social__link:last-child::after {
    display: none;
  }
  .social__link-label {
    color: #FE18BE;
    margin: 0 20px;
    display: flex;
  }
  .footer__container {
    flex-direction: column;
  }
}
@media (max-width: 1057px) {
  .header__container {
    min-height: 100px;
  }
  .socials {
    margin: 0;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .menu__item {
    margin: 0 10px;
  }
  .menu__item:first-child {
    margin: 0 0 0 30px;
  }
  .menu__item:last-child {
    margin: 0;
  }
}
@media (max-width: 991.98px) {
  .header__container {
    justify-content: space-between;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 110px 15px 30px 15px;
    transition: all 0.3s ease 0s;
  }
  .menu__body:target {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .menu__item {
    margin: 0 0 25px 0;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu__link {
    color: #000;
    font-size: 28px;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1057px) {
  .about__card-avatars {
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
  }
  .about__card-avatar {
    margin: 10px 20px;
  }
}
@media (max-width: 991.98px) {
  .artworks__cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .artworks__card {
    margin: 20px 15px;
  }
  .artworks__title {
    font-size: 3rem;
    margin: 0 0 20px 0;
  }
  .artworks__subtitle {
    font-size: 5rem;
    left: 10px;
    top: 120px;
  }
  .collections__cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .collections__card {
    margin: 20px 15px;
  }
  .collections__title {
    font-size: 3rem;
    margin: 0 0 20px 0;
  }
  .collections__subtitle {
    font-size: 5rem;
    left: 10px;
    top: 120px;
  }
  .about__title {
    font-size: 3rem;
    margin: 0 0 40px 0;
  }
  .about__subtitle {
    font-size: 5rem;
    left: 10px;
    top: 120px;
  }
  .about__card {
    padding: 42px 40px;
    display: flex;
  }
  .about__card-avatars {
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
  .about__card-avatar {
    margin: 10px 20px;
  }
  .about__card-avatar img {
    object-fit: cover;
    min-height: 150px;
    min-width: 150px;
  }
  .about__card-text {
    font-size: 1.25rem;
  }
  .whitelist__title {
    font-size: 3rem;
    margin: 0 0 40px 0;
  }
  .whitelist__subtitle {
    font-size: 5rem;
    left: 10px;
    top: 120px;
  }
  .whitelist__card {
    padding: 42px 40px;
  }
  .whitelist__card-text {
    font-size: 1.25rem;
  }
  .roadmap__title {
    font-size: 3rem;
    margin: 0 0 40px 0;
  }
  .roadmap__subtitle {
    font-size: 5rem;
    left: 10px;
    top: 120px;
  }
  .roadmap__card {
    padding: 42px 40px;
  }
  .roadmap__item-number {
    font-size: 2rem;
    margin-right: 15px;
  }
  .roadmap__item-text {
    font-size: 1.5rem;
    margin-right: 15px;
  }
  .roadmap__item-text p {
    font-size: 1.25rem;
  }
  .roadmap__item-mark {
    font-size: 2rem;
  }
  .partners__title {
    font-size: 3rem;
    margin: 0 0 40px 0;
  }
  .partners__subtitle {
    font-size: 5rem;
    left: 10px;
    top: 120px;
  }
  .partners__card {
    margin: 15px;
  }
  .partners__card-name {
    font-size: 1.5rem;
  }
  .banner {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .about__card {
    display: block;
  }
}
@media (max-width: 519.98px) {
  .about__card-avatar img {
    min-width: 80px;
    min-height: 80px;
    max-height: 80px;
    max-width: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
