@import reset.css
@import icons.css
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap')

$font-outfit: Outfit

*
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body
    font-family: $font-outfit
    background: #111111

.wrapper
    //overflow: hidden
    display: flex
    flex-direction: column
    min-height: 100%

.main
    flex: 1 1 auto

[class*=__container]
    max-width: 1234px
    margin: 0px auto
    padding: 0px 15px

.header
    z-index: 150
    position: fixed
    width: 100%
    top: 0
    left: 0
    background: #000
    &__container
        display: flex
        min-height: 120px
        align-items: center
    &__logo
        display: flex
        align-items: center
    &__search
    &__socials
    &__translate

.logo
    text-decoration: none
    &__text
        padding: 38px
        font-weight: 700
        font-size: 1.125rem
        line-height: 1.438rem
        color: #fff
        transition: all 0.2s linear
        &:hover
            opacity: 0.7
        &-pink
            span
                color: #FE18BE

.search
    margin: 0 auto
    border-radius: 20px
    background: #202020
    padding: 8px 25px
    -webkit-transition: all .2s linear
    transition: all .2s linear
    a
        padding: 0 2px
        text-decoration: none
        color: #FE18BE
        opacity: 0.6
        -webkit-transition: all .2s linear
        transition: all .2s linear
        &:hover
            opacity: 1
    &__field
        box-sizing: border-box
        background: none
        outline: none
        border: none
        min-width: 250px
        padding: 0 5px
        color: rgba(255, 255, 255, 0.6)
        -webkit-transition: all .3s ease
        transition: all .3s ease
        &::placeholder
            font-family: 'Outfit'
            font-style: normal
            font-weight: 300
            font-size: 0.875rem
            line-height: 1.125rem
            letter-spacing: 0.05em
            color: rgba(255, 255, 255, 0.2)
            -webkit-transition: all .2s linear
            transition: all .2s linear
        &:focus::placeholder
            color: rgba(255, 255, 255, 0.6)
    &:focus-within
        border: 1px solid rgba(254, 24, 190, 0.5)
        box-shadow: 0 0 1px 0 rgba(254, 24, 190, 0.5) inset, 0 0 1px 0 rgba(254, 24, 190, 0.5)

.social
    display: flex
    margin: 0 20px 0 0
    &__link
        text-decoration: none
        color: #FE18BE
        font-size: 1.375rem
        padding: 6px
        -webkit-transition: transform .4s ease
        transition: transform .4s ease
        span
            &::before
                display: flex
                justify-content: center
                align-items: center
                min-width: 40px
                min-height: 40px
                border: 1px solid #FE18BE
                box-shadow: 0 0 1px 0 #FE18BE inset, 0 0 1px 0 #FE18BE
                border-radius: 50%
                width: 100%
                height: 100%
                -webkit-transition: all .4s ease
                transition: all .4s ease
        &:hover
            color: #000
            transform: scale(1.3)
            span
                &::before
                    background: #FE18BE

.translate
    font-family: 'Outfit'
    font-style: normal
    font-weight: 700
    font-size: 1.125rem
    line-height: 1.438rem
    color: #fff
    &__switch
        text-decoration: none
        color: #fff
        transition: all .2s linear
        &:active
            color: #FE18BE
        &:hover
            color: #FE18BE

.intro
    min-height: 100vh
    display: flex
    &__container
        padding: 50px 15px 20px 15px
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
    &__flower
        img
            width: 100%
            height: 100%
    &__button
        text-decoration: none
        padding: 12px 52px
        border-radius: 20px
        background: #FE18BE
        font-family: 'Outfit'
        font-style: normal
        font-weight: 700
        font-size: 1.25rem
        line-height: 1.563rem
        letter-spacing: 0.1em
        color: #FFFFFF
        transition: all .4s ease
        box-shadow: 5px 5px 45px rgba(254, 24, 190,0.5)
        position: relative
        &:hover
            background: #cd219d
            box-shadow: 5px 5px 45px rgba(254, 24, 190,0.7)
            &::after
                opacity: 1
                transform: translate(0, 0)
        &::after
            content: ""
            bottom: -15px
            left: 0
            position: absolute
            min-width: 100%
            height: 3px
            background: #cd219d
            opacity: 0
            transform: translate(0, 20px)
            transition: all .4s ease
    &__video
        width: 100vw
        height: 100vh
        object-fit: cover
        position: absolute
        right: 0
        top: 0
        z-index: -1

.artworks
    color: #fff
    position: relative
    z-index: 1
    &__container
        padding: 100px 15px 30px 15px
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
    &__title
        font-weight: 700
        font-size: 4rem
        line-height: 5rem
        margin: 0 0 50px 0
    &__subtitle
        font-weight: 700
        font-size: 8rem
        line-height: 10rem
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.1)
        position: absolute
        top: 140px
        left: -80px
    &__cards
        display: flex
        margin: 0 0 60px 0
        align-items: stretch
    &__card
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 324px
        margin: 0 auto
        max-width: 324px
        position: relative
        box-sizing: border-box
        $border: 5px
        color: #FFF
        background: #201F1F
        background-clip: padding-box
        border: solid $border transparent
        border-radius: 20px
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -2
            margin: -$border

            border-radius: inherit
            background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%)
    &__button
        display: flex
        justify-content: center
    &__decor
        &-1
            position: absolute
            background: rgba(254, 24, 190, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 200px
            right: 0
            z-index: -4
            transform: translate3d(0, 0, 0)
        &-2
            position: absolute
            background: rgba(24, 171, 254, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 682px
            height: 719px
            top: 0
            left: 0
            z-index: -4
            transform: translate3d(0, 0, 0)

.card
    &__collection-cover
        img
            height: 338px
            width: 100%
            border-radius: 15px 15px 0 0
    &__collection-author-avatar
        display: flex
        justify-content: center
        position: absolute
        left: 25%
        top: 238px
        img
            height: 150px
            width: 150px
            border: 3px solid #201F1F
            border-radius: 50%
    &__collection-author-name
        margin: 50px 0 0 0
        display: flex
        justify-content: center
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 25px
    &__collection-author-username
        display: flex
        justify-content: center
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #FE18BE
        text-decoration: none
        text-align: center
        overflow-wrap: anywhere
        padding: 5px 10px
    &__collection-name
        display: flex
        justify-content: center
        font-family: 'Outfit'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 25px
        text-align: center
        padding: 0 10px
    &__artwork-info
        padding: 0 20px
        display: flex
        flex-direction: column
        justify-content: space-between
    &__artwork-cover
        img
            height: 338px
            width: 100%
            border-radius: 15px 15px 0 0
    &__artwork-author
        margin: 15px 0
        display: flex
        align-items: center
    &__artwork-author-info
        display: flex
        flex-direction: column
    &__artwork-author-avatar
        display: flex
        justify-content: center
        margin: 0 5px 0 0
        img
            height: 40px
            width: 40px
            border-radius: 50%
    &__artwork-author-name
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 25px
    &__artwork-author-username
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #FE18BE
        text-decoration: none
        overflow-wrap: anywhere
    &__artwork-name
        font-family: 'Outfit'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 25px
        margin: 15px 0
    &__artwork-buy-info
        display: flex
        align-items: center
        justify-content: space-between
    &__artwork-price
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 23px
        text-align: center
        span
            font-family: 'Outfit'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 20px
            color: #555555
    &__button
        margin: 16px 0
        display: flex
        justify-content: center

.collections
    color: #fff
    position: relative
    z-index: 1
    &__container
        padding: 100px 15px 30px 15px
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
    &__title
        font-weight: 700
        font-size: 4rem
        line-height: 5rem
        margin: 0 0 50px 0
    &__subtitle
        font-weight: 700
        font-size: 8rem
        line-height: 10rem
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.1)
        position: absolute
        top: 140px
        left: -80px
    &__cards
        display: flex
        margin: 0 0 60px 0
        align-items: stretch
    &__card
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 324px
        margin: 0 auto
        max-width: 324px
        position: relative
        box-sizing: border-box
        $border: 5px
        color: #FFF
        background: #201F1F
        background-clip: padding-box
        border: solid $border transparent
        border-radius: 20px
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -2
            margin: -$border

            border-radius: inherit
            background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%)
        &::after
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -3
            margin: -$border
            border-radius: 20px
            background: linear-gradient(122.02deg, rgba(255, 44, 223, 0.6) 36.31%, rgba(0, 102, 255, 0.6) 111.8%)

            transform-origin: right
            transform: translate(0px, 0px) rotate(0deg)
            opacity: 0
            transition: all .2s linear
        &:hover
            &::after
                opacity: 1
                transform: translate(50px, 20px) rotate(3.02deg)
    &__button
        display: flex
        justify-content: center
    &__decor
        &-1
            position: absolute
            background: rgba(254, 24, 190, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 150px
            left: 0
            z-index: -4
            transform: translate3d(0, 0, 0)
        &-2
            position: absolute
            background: rgba(24, 171, 254, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 300px
            right: 0
            z-index: -4
            transform: translate3d(0, 0, 0)

.button
    text-decoration: none
    color: #fff
    transition: all .2s linear
    font-family: 'Outfit'
    font-style: normal
    font-weight: 500
    font-size: 1rem
    line-height: 1.25rem
    &__outline
        border: 1px solid #FE18BE
        border-radius: 10px
        background: transparent
        padding: 9px 45px
        box-shadow: 0 0 1px 0 #FE18BE inset, 0 0 1px 0 #FE18BE
        &:hover
            background: #FE18BE

.about
    color: #fff
    position: relative
    z-index: 1
    &__container
        padding: 100px 15px 30px 15px
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
    &__title
        font-weight: 700
        font-size: 4rem
        line-height: 5rem
        margin: 0 0 50px 0
    &__subtitle
        font-weight: 700
        font-size: 8rem
        line-height: 10rem
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.1)
        position: absolute
        top: 140px
        left: -80px
    &__card
        background: #121618
        border-radius: 20px
        padding: 42px 84px
        position: relative
        box-sizing: border-box
        $border: 5px
        background-clip: padding-box
        border: solid $border transparent
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            margin: -$border
            filter: blur(1px)
            border-radius: inherit
            background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%)
        &-avatars
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 52px
        &-avatar
            transition: all .3s ease 0s
            img
                height: 100%
                width: 100%
                max-width: 150px
                max-height: 150px
                border-radius: 20px
            &:hover
                transform: scale(1.4)
        &-text
            font-family: 'Outfit'
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 30px
            p
                margin: 20px 0
    &__decor
        &-1
            position: absolute
            background: rgba(254, 24, 190, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 150px
            left: 0
            z-index: -4
            transform: translate3d(0, 0, 0)
        &-2
            position: absolute
            background: rgba(254, 24, 190, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 500px
            right: 0
            z-index: -4
            transform: translate3d(0, 0, 0)

.whitelist
    color: #fff
    position: relative
    z-index: 1
    &__container
        padding: 100px 15px 30px 15px
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
    &__title
        font-weight: 700
        font-size: 4rem
        line-height: 5rem
        margin: 0 0 50px 0
    &__subtitle
        font-weight: 700
        font-size: 8rem
        line-height: 10rem
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.1)
        position: absolute
        top: 140px
        left: -80px
    &__card
        background: #121618
        border-radius: 20px
        padding: 42px 84px
        position: relative
        box-sizing: border-box
        $border: 5px
        background-clip: padding-box
        border: solid $border transparent
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            margin: -$border
            filter: blur(1px)
            border-radius: inherit
            background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%)
        &-text
            font-family: 'Outfit'
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 30px
            p
                margin: 20px 0
    &__decor
        &-1
            position: absolute
            background: rgba(24, 171, 254, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 150px
            left: 0
            z-index: -4
            transform: translate3d(0, 0, 0)
        &-2
            position: absolute
            background: rgba(254, 24, 190, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 500px
            right: 0
            z-index: -4
            transform: translate3d(0, 0, 0)

.roadmap
    color: #fff
    position: relative
    z-index: 1
    &__container
        padding: 100px 15px 30px 15px
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
    &__title
        font-weight: 700
        font-size: 4rem
        line-height: 5rem
        margin: 0 0 50px 0
    &__subtitle
        font-weight: 700
        font-size: 8rem
        line-height: 10rem
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.1)
        position: absolute
        top: 140px
        left: -80px
    &__card
        background: #121618
        border-radius: 20px
        padding: 42px 84px
        position: relative
        box-sizing: border-box
        $border: 5px
        background-clip: padding-box
        border: solid $border transparent
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            margin: -$border
            filter: blur(1px)
            border-radius: inherit
            background: linear-gradient(100.28deg, #FF2CDF -7.63%, #0014FF 100%)
        &-text
            font-family: 'Outfit'
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 30px
            p
                margin: 20px 0
    &__decor
        &-1
            position: absolute
            background: #192153
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 150px
            left: 0
            z-index: -4
            transform: translate3d(0, 0, 0)
        &-2
            position: absolute
            background: rgba(254, 24, 190, 0.2)
            filter: blur(200px)
            border-radius: 50%
            width: 600px
            height: 600px
            top: 500px
            right: 0
            z-index: -4
            transform: translate3d(0, 0, 0)
    &__items
        display: flex
        flex-direction: column
    &__item
        display: flex
        margin: 0 0 20px 0
        &-number
            font-family: 'Outfit'
            font-style: normal
            font-weight: 700
            font-size: 40px
            line-height: 50px
            color: #FE18BE
            margin-right: 38px
        &-text
            font-family: 'Outfit'
            font-style: normal
            font-weight: 500
            font-size: 32px
            line-height: 40px
            margin-right: 38px
            p
                font-family: 'Outfit'
                font-style: normal
                font-weight: 400
                font-size: 24px
                line-height: 30px
                text-decoration-line: inherit
        &-mark
            margin-left: auto
            font-size: 60px
            line-height: 50px

.banner
    &__container
        padding: 150px 15px 30px 15px
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
    &__content
        background: url(../img/banner-bg.png) no-repeat
        background-size: cover
        border-radius: 30px
        display: flex
        align-items: center
        padding: 50px 60px 50px 60px
        position: relative
    &__text
        flex: 1 0 60%
        max-width: 530px
        color: #fff
    &__title
        font-family: 'Outfit'
        font-style: normal
        font-weight: 700
        font-size: 64px
        line-height: 81px
    &__subtitle
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 25px
        margin-bottom: 26px
    &__input
        display: flex
        color: #fff
        background: rgba(255, 255, 255, 0.2)
        border-radius: 5px
        max-width: 264px
        input
            color: inherit
            font-family: 'Outfit'
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 18px
            letter-spacing: 0.1em
            border: none
            background: transparent
            outline: none
            padding: 2px 10px
            &::placeholder
                color: inherit
                font-family: 'Outfit'
                font-style: normal
                font-weight: 500
                font-size: 16px
                line-height: 18px
                letter-spacing: 0.1em
        button
            border: none
            padding: 5px 22px
            color: inherit
            background: #FE18BE
            border-radius: 5px
            font-family: 'Outfit'
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 18px
            letter-spacing: 0.1em
            transition: all .2s ease
            cursor: pointer
            &:hover
                background: #cd219d
    &__image
        flex: 1 0 40%
        position: absolute
        right: 60px
        bottom: 0px

.text
    &-crossed
        text-decoration-line: line-through

.mark
    &-inactive
        color: #35393A
    &-active
        color: #FE18BE
