@import reset.css
@import icons.css
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap')

$font-outfit: Outfit

*
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body
    font-family: $font-outfit
    background: #111111

.wrapper
    overflow: hidden
    display: flex
    flex-direction: column
    min-height: 100%

.main
    flex: 1 1 auto

[class*=__container]
    max-width: 1234px
    margin: 0px auto
    padding: 0px 15px

.header
    z-index: 150
    position: absolute
    width: 100%
    top: 0
    left: 0
    background: #000
    &__container
        display: flex
        min-height: 120px
        align-items: center
    &__logo
        display: flex
        align-items: center
    &__search
    &__socials
    &__translate

.logo
    text-decoration: none
    &__text
        padding: 38px
        font-weight: 700
        font-size: 1.125rem
        line-height: 1.438rem
        color: #fff
        transition: all 0.2s linear
        &:hover
            opacity: 0.7
        &-pink
            span
                color: #FE18BE

.search
    margin: 0 auto
    border-radius: 20px
    background: #202020
    padding: 8px 25px
    -webkit-transition: all .2s linear
    transition: all .2s linear
    a
        padding: 0 2px
        text-decoration: none
        color: #FE18BE
        opacity: 0.6
        -webkit-transition: all .2s linear
        transition: all .2s linear
        &:hover
            opacity: 1
    &__field
        box-sizing: border-box
        background: none
        outline: none
        border: none
        min-width: 250px
        padding: 0 5px
        color: rgba(255, 255, 255, 0.6)
        -webkit-transition: all .3s ease
        transition: all .3s ease
        &::placeholder
            font-family: 'Outfit'
            font-style: normal
            font-weight: 300
            font-size: 0.875rem
            line-height: 1.125rem
            letter-spacing: 0.05em
            color: rgba(255, 255, 255, 0.2)
            -webkit-transition: all .2s linear
            transition: all .2s linear
        &:focus::placeholder
            color: rgba(255, 255, 255, 0.6)
    &:focus-within
        border: 1px solid rgba(254, 24, 190, 0.5)
        box-shadow: 0 0 1px 0 rgba(254, 24, 190, 0.5) inset, 0 0 1px 0 rgba(254, 24, 190, 0.5)

.social
    display: flex
    margin: 0 20px 0 0
    &__link
        text-decoration: none
        color: #FE18BE
        font-size: 1.375rem
        padding: 6px
        -webkit-transition: transform .4s ease
        transition: transform .4s ease
        span
            &::before
                display: flex
                justify-content: center
                align-items: center
                min-width: 40px
                min-height: 40px
                border: 1px solid #FE18BE
                box-shadow: 0 0 1px 0 #FE18BE inset, 0 0 1px 0 #FE18BE
                border-radius: 50%
                width: 100%
                height: 100%
                -webkit-transition: all .4s ease
                transition: all .4s ease
        &:hover
            color: #000
            transform: scale(1.3)
            span
                &::before
                    background: #FE18BE

.translate
    font-family: 'Outfit'
    font-style: normal
    font-weight: 700
    font-size: 1.125rem
    line-height: 1.438rem
    color: #fff
    &__switch
        text-decoration: none
        color: #fff
        transition: all .2s linear
        &:active
            color: #FE18BE
        &:hover
            color: #FE18BE

.intro
    min-height: 100vh
    &__container
        padding: 130px 15px 50px 15px
        display: flex
        flex-wrap: wrap
        flex-direction: column
        align-items: center
        position: relative
    &__flower
        padding-left: 80px
        margin-bottom: 20px
        img
            width: 100%
            height: 100%
    &__button
        text-decoration: none
        padding: 12px 52px
        border-radius: 20px
        background: #FE18BE
        font-family: 'Outfit'
        font-style: normal
        font-weight: 700
        font-size: 1.25rem
        line-height: 1.563rem
        display: flex
        align-items: center
        letter-spacing: 0.1em
        color: #FFFFFF
        transition: all .4s ease
        box-shadow: 5px 5px 45px rgba(254, 24, 190,0.5)
        position: relative
        &:hover
            background: #cd219d
            box-shadow: 5px 5px 45px rgba(254, 24, 190,0.7)
            &::after
                opacity: 1
                transform: translate(0, 0)
        &::after
            content: ""
            bottom: -15px
            left: 0
            position: absolute
            min-width: 100%
            height: 3px
            background: #cd219d
            opacity: 0
            transform: translate(0, 20px)
            transition: all .4s ease
    &__video
        width: 100vw
        height: 900px
        object-fit: cover
        position: fixed
        right: 0
        top: 0
        z-index: -1

.items
    background: #111111
